@model MultiPlug.Base.Http.EdgeApp
@functions {
    public string NavLocationIsHome()
    {
        return Model.Context.Paths.Current == Model.Context.Paths.Home ? "active" : string.Empty;
    }

    public string NavLocationIsSocketClient()
    {
        return Model.Context.Paths.Current.StartsWith(Model.Context.Paths.Home + "socketclient") ? "active" : string.Empty;
    }

    public string NavLocationIsSocketEndpoint()
    {
        return Model.Context.Paths.Current.StartsWith(Model.Context.Paths.Home + "socketendpoint") ? "active" : string.Empty;
    }

    public string NavLocationIsAbout()
    {
        return Model.Context.Paths.Current == Model.Context.Paths.Home + "about/" ? "active" : string.Empty;
    }
}

<div class="row-fluid">
    <ul class="nav nav-tabs">
        <li class="@NavLocationIsHome()"><a href="@Raw(Model.Context.Paths.Home)">Home</a></li>
        <li class="@NavLocationIsSocketClient()"><a href="@Raw(Model.Context.Paths.Home)socketclients/">Clients</a></li>
        <li class="@NavLocationIsSocketEndpoint()"><a href="@Raw(Model.Context.Paths.Home)socketendpoints/">Endpoints</a></li>
        <li class="@NavLocationIsAbout()"><a href="@Raw(Model.Context.Paths.Home)about/">About</a></li>
    </ul>
</div>