@model MultiPlug.Base.Http.EdgeApp

@functions
{
    string isCurrentLoggingLevel(int theLevel)
    {
        return (@Model.Extension.Model.LoggingLevel == theLevel) ? "selected" : "";
    }
}

<form action="" id="FormLogging" style="display:none;" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded"></form>
    <section class="row-fluid">

        <div class="row-fluid">
            <div class="box">
                <div class="span3">
                    <a style="line-height: 52px;" href="#"><img alt="Network Logo" src="@Raw(Model.Context.Paths.Assets)images/networks.png"></a>
                </div>
                <div class="span6">
                    <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">Socket Endpoint</p>
                </div>
                <div class="span3" style="text-align: right;">
                    <button type="submit" value="submit" form="FormLogging" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
                </div>
            </div>
        </div>

        <input type="hidden" name="guid" form="FormLogging" value="@Model.Extension.Model.Guid">

        @Include("MultiPlug.Ext.Network.Sockets.NetworkSocketsEndpointNavigation")

        <div class="row-fluid">
            <div class="box">
                <h3 class="box-header">Connections</h3>
                <div class="box">
                    <h4>Clients</h4>
                    <div class="row-fluid">
                        <div class="well">
                            <div class="row-fluid">
                                <div class="span6">
                                    <h5>IP Address</h5>
                                </div>
                                <div class="span6">
                                    <h5>Disconnect</h5>
                                </div>
                            </div>
@foreach (var item in Model.Extension.Model.ConnectedClients)
{
                            <div class="row-fluid">
                                <div class="span6">
                                    <p>@item.Address</p>
                                </div>
                                <div class="span6">
                                    <form action="@Raw(Model.Context.Paths.Current)disconnect/" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="guid" value="@Model.Extension.Model.Guid">
                                        <input type="hidden" name="clientguid" value="@item.Guid">
                                        <button class="btn btn-red btn-small" type="submit"><i class="icon-trash"></i></button>
                                    </form>
                                </div>
                            </div>
}
                        </div>
                    </div>
                </div>

                <h3 class="box-header">Logging</h3>
                <div class="box">
                    <h4>Level</h4>
                    <div class="row-fluid">
                        <div class="well">
                            <div class="row-fluid">
                                <select name="LoggingLevel" form="FormLogging">
                                    <option value="0" @isCurrentLoggingLevel(0)>Errors</option>
                                    <option value="1" @isCurrentLoggingLevel(1)>Basic</option>
                                    <option value="2" @isCurrentLoggingLevel(2)>Verbose</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <h4>Log</h4>
                    <div class="row-fluid">
                        <div class="well">
                            <div class="row-fluid">
                                <div class="span12">
                                    <textarea id="Logging" spellcheck="false" rows="10" class="input-block-level">@Model.Extension.Model.TraceLog</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
    $.connection.wS.on("Send", function (id, Group) {
        var loggingTextArea = $('#Logging');
        loggingTextArea.text(loggingTextArea.text() + Group.Subjects[1].Value + '\n');

        if (loggingTextArea.length)
            loggingTextArea.scrollTop(loggingTextArea[0].scrollHeight - loggingTextArea.height());
    });
</script>