@model MultiPlug.Base.Http.EdgeApp

<div class="row-fluid">
    <div class="box">
        <div class="span2">
            <a href="/"><img alt="Network Icon" src="@Raw(Model.Context.Paths.Assets)images/networks.png"></a>
        </div>
        <div class="span8">
            <p style="font-size:22.75px; padding-top:10px; text-align:center;">MultiPlug.Ext.Network.Sockets</p>
        </div>
    </div>
</div>

    @Include("MultiPlug.Ext.Network.Sockets.NetworkSocketsNavigation")

<section class="row-fluid">
    <h3></h3>
    <div class="box">
        <div class="row-fluid">
            <a href="@Raw(Model.Context.Paths.Home)socketclients/" class="btn btn-blue quick-btn span2">
                <span class="label">@Model.Extension.Model.SocketClientCount</span>
                <i class="icon-signout"></i>
                <span class="quick-btn-title">Clients</span>
            </a>
            <a href="@Raw(Model.Context.Paths.Home)socketendpoints/" class="btn btn-blue quick-btn span2">
                <span class="label">@Model.Extension.Model.SocketEndpointCount</span>
                <i class="icon-signin"></i>
                <span class="quick-btn-title">Endpoints</span>
            </a>
        </div>
    </div>
</section>
